@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
.wrapper{
    height: 100vh;
    max-height: 1050px;
    width: 100vw;
    background: royalblue;
}
.top a{
    transition: .2s ease;
}
.top a:hover{
    text-decoration: none;
    color: darkgray;
}

.box-shadow{
    -moz-box-shadow: 0 0 30px -10px #000;
    -webkit-box-shadow: 0 0 30px -10px #000;
    box-shadow: 0 0 30px -10px #000;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

p{
    font-family: "Open Sans", sans-serif;
}

.bottom *, .top *{
    color: darkgray;
}
.bottom a:hover{
    color: darkgray;
    text-decoration: none;
}

.bg-white-gradient{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.40) 100%);
}

.bg-white-gradient p{

}

.bg-image{
    background-image: url("http://www.iamjhojo.com/img/world-map.gif");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}